<body [formGroup]="userFb" class="image" fxLayout="row"  fxLayoutAlign="center center">
  <mat-card class="example-card" fxFlex="30">
    <mat-card-header fxFlexAlign="center top">
      <mat-card-title style="font-size: 30px" class="black">Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <p>
      <mat-form-field style="font-size: 18px" class="example-form-field" fxFlex>
        <mat-label class="black">Enter Nickname</mat-label>
        <input matInput type="text" formControlName="username" >
      </mat-form-field>
      </p>

      <p>
      <mat-form-field style="font-size: 18px" class="example-form-field" fxFlex>
        <mat-label class="black">Enter Password</mat-label>
        <input matInput type="password" formControlName="password" >
      </mat-form-field>
      </p>

      <p fxLayoutGap="50px" fxLayoutAlign="center">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="login()">
          <mat-icon class="icon-display">games</mat-icon>
        </button>
        <button mat-button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon class="icon-display">cancel</mat-icon>
        </button>
      </p>

    </mat-card-content>
  </mat-card>
</body>
