<body>

<div class="image" fxLayout="row" fxFlex>
  <div fxLayout="column" fxFlex="20" style="padding: 20px" fxLayoutGap="10px">
    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <h5 style="font-size: 20px" class="black"> Clients Online</h5>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="activeUsers as users">
          <ul>
            <li class="black" *ngFor="let user of users">
              {{user.username}}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxLayout="column" fxFlex="80" *ngIf="loggedInUser$ | async as user">
    <mat-card fxFlex fxLayout="column" class="example-card">
      <mat-card-header>
        <h1 class="black"> Welcome [{{user.username}}] </h1>
      </mat-card-header>
      <mat-card-content fxFlex fxLayout="column">
        <mat-list fxFlex class="scroll">
          <div *ngIf="messages$ | async as messages">
            <mat-list-item *ngFor="let message of messages">
              <mat-icon class="black" mat-list-icon>face</mat-icon>
              <div style="color: midnightblue" mat-line> {{message.user.username}}</div>
              <div style="color: black" mat-line> {{message?.message}}</div>
              <div style="color: black"> {{message?.date | date: 'hh:mm'}} </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-card-content>
      <mat-card-actions (keydown.enter)="sendMessage()">
        <mat-form-field fxFlex>
          <mat-label class="black">Enter Message</mat-label>
          <label>
            <input matInput type="text" [formControl]="messageFc" >
          </label>
          <button mat-button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon style="font-size: 20px" class="black"(click)="sendMessage()">send</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-actions>

      <mat-card-footer fxFlex="30px">
      </mat-card-footer>
    </mat-card>
  </div>

</div>
</body>
