<body>

<div class="box image" fxLayout="row" fxFlex>

  <div fxFlex="20" style="padding: 50px" fxLayoutGap="10px">
    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <h5 style="font-size: 20px" class="black"> Team 1</h5>
      </mat-card-header>
      <mat-card-content>
        <div>
          <ul>
            <li>
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

<div fxFlexAlign="center center" >
  <h1> hreths</h1>
</div>

  <div class="push" fxFlex="20" style="padding: 50px" fxLayoutGap="10px">
    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <h5 style="font-size: 20px" class="black"> Team 2</h5>
      </mat-card-header>
      <mat-card-content>
        <div>
          <ul>
            <li>
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

</div>
</body>
